@import '../library/index';

body {
    color: $colorText;
    font-family: $bodyFontFamily;

    .sacola {
        background: $imageCart no-repeat;
        background-position: top right;
        font-size: 14px;
        padding: 8px 35px 8px 0;
        text-align: right;
        width: 140px;
    }

    .menu-opcoes {
        ul {
            font-size: 15px;
            li {
                display: inline;
                margin-left: 20px;
                a {
                    text-decoration: none; 
                    color: $anchorColorText;
                }
            }
        }
    }
}