@import '../library/index';

body {
    color: $colorText;
    font-family: $bodyFontFamily;

    .sacola {
        background: $imageCart no-repeat;
        background-position: top right;
        font-size: 14px;
        padding-right: 35px;
        text-align: right;
        width: 140px;
    }

    .menu-opcoes {
        ul {
            font-size: 15px;
            li {
                a {
                    text-decoration: none; 
                    color: $anchorColorText;
                }
            }
        }
    }
}